@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bars.css";
@import "components/nav-bars.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
body{
    color: #2e363e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 1000vh;
}

.main-screen{
    padding: 0px var(--horizontal-space);
}