.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    /*To limit box size not to go out of the box border
    By doing this, box size does not increase when you add padding size and set the width as well*/
    box-sizing: border-box; 
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: var(--main-border);

}
.nav__ul{
    display:flex;
    justify-content: space-between;
}
.nav__a{
    position: relative;
    color: #2e363e;
}

@keyframes notificationAnimation{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(270deg);
    }
    100%{
        transform: none;
    }
}

.nav__notification{
    position: absolute;
    left: 17px;
    bottom: 17px;
    animation: notificationAnimation 2s ease-in-out infinite;
}
.nav__find{
    background-color: tomato;
    width:6px;
    height: 6px;
    border-radius: 50%;
    display: flex; 
    position: absolute;
    left: 30px;
    bottom: 30px;
}
@keyframes appearBtnAnimation{
    from{
        transform: translateY(80px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
.nav__list{
    transform: translateY(80px);
    opacity: 0;
    animation: appearBtnAnimation 0.6s ease-in-out forwards;
}
.nav__list:nth-child(2){
    animation-delay: 0.2s;
}
.nav__list:nth-child(3){
    animation-delay: 0.4s;
}
.nav__list:nth-child(4){
    animation-delay: 0.6s;
}